<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">360 Tour</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
        <a class="mdl-navigation__link" href="{{ site.sportsboard }}/">SportsBoard</a>
        {% for post in site.posts %}
        {% if post.title %}
        <a class="mdl-navigation__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
        {% endfor %}
        <a class="mdl-navigation__link" href="{{ site.blog }}/">ABCA blog</a>
        <a class="mdl-navigation__link" href="{{ site.twitter }}/"><i class="fa fa-twitter"></i></a>
        <a class="mdl-navigation__link" href="{{ site.facebook }}/"><i class="fa fa-facebook"></i></a>
        <a class="mdl-navigation__link" href="{{ site.instagram }}/"><i class="fa fa-instagram"></i></a>
    </nav>
</div>